:root {
	--color-neutral-lightness-inc: - 6%;
	--color-neutral-lightness-1: 100%;
	--color-neutral-lightness-2: calc(var(--color-neutral-lightness-1) var(--color-neutral-lightness-inc));
	--color-neutral-lightness-3: calc(var(--color-neutral-lightness-2) var(--color-neutral-lightness-inc));
	--color-neutral-lightness-4: calc(var(--color-neutral-lightness-3) var(--color-neutral-lightness-inc));
	--color-neutral-lightness-5: calc(var(--color-neutral-lightness-4) var(--color-neutral-lightness-inc));
	--color-neutral-lightness-6: calc(var(--color-neutral-lightness-5) var(--color-neutral-lightness-inc));
	--color-neutral-lightness-7: calc(var(--color-neutral-lightness-6) var(--color-neutral-lightness-inc));
	--color-neutral-lightness-8: calc(var(--color-neutral-lightness-7) var(--color-neutral-lightness-inc));
	--color-neutral-lightness-9: calc(var(--color-neutral-lightness-8) var(--color-neutral-lightness-inc));
	--color-neutral-lightness-10: calc(var(--color-neutral-lightness-9) var(--color-neutral-lightness-inc));
	--color-neutral-lightness-11: calc(var(--color-neutral-lightness-10) var(--color-neutral-lightness-inc));
	--color-neutral-lightness-12: calc(var(--color-neutral-lightness-11) var(--color-neutral-lightness-inc));
	--color-neutral-lightness-13: calc(var(--color-neutral-lightness-12) var(--color-neutral-lightness-inc));

	--color-lightness-inc: - 6%;
	--color-lightness-1: 100%;
	--color-lightness-2: calc(var(--color-lightness-1) var(--color-lightness-inc));
	--color-lightness-3: calc(var(--color-lightness-2) var(--color-lightness-inc));
	--color-lightness-4: calc(var(--color-lightness-3) var(--color-lightness-inc));
	--color-lightness-5: calc(var(--color-lightness-4) var(--color-lightness-inc));
	--color-lightness-6: calc(var(--color-lightness-5) var(--color-lightness-inc));
	--color-lightness-7: calc(var(--color-lightness-6) var(--color-lightness-inc));
	--color-lightness-8: calc(var(--color-lightness-7) var(--color-lightness-inc));
	--color-lightness-9: calc(var(--color-lightness-8) var(--color-lightness-inc));
	--color-lightness-10: calc(var(--color-lightness-9) var(--color-lightness-inc));
	--color-lightness-11: calc(var(--color-lightness-10) var(--color-lightness-inc));
	--color-lightness-12: calc(var(--color-lightness-11) var(--color-lightness-inc));

	--color-chroma-inc: 0.03;
	--color-chroma-1: 0.02;
	--color-chroma-2: calc(var(--color-chroma-1) + var(--color-chroma-inc));
	--color-chroma-3: calc(var(--color-chroma-2) + var(--color-chroma-inc));
	--color-chroma-4: calc(var(--color-chroma-3) + var(--color-chroma-inc));
	--color-chroma-5: calc(var(--color-chroma-4) + var(--color-chroma-inc));
	--color-chroma-6: calc(var(--color-chroma-5) + var(--color-chroma-inc));
	--color-chroma-7: calc(var(--color-chroma-6) + var(--color-chroma-inc));
	--color-chroma-8: calc(var(--color-chroma-7) - var(--color-chroma-inc));
	--color-chroma-9: calc(var(--color-chroma-8) - var(--color-chroma-inc));
	--color-chroma-10: calc(var(--color-chroma-9) - var(--color-chroma-inc)); 
	--color-chroma-11: calc(var(--color-chroma-10) - var(--color-chroma-inc));
	--color-chroma-12: calc(var(--color-chroma-11) - var(--color-chroma-inc));

	--color-neutral-base: 200;
	--color-neutral-chroma-base: 0.005;
	--color-gray-chroma-base: 0.01;
	--color-stone-base: 130;
	--color-slate-base: 256;
	--color-pink-base: 0;
	--color-rose-base: 12;
	--color-red-base: 30;
	--color-orange-base: 60;
	--color-amber-base: 80;
	--color-gold-base: 100;
	--color-yellow-base: 92.5;
	--color-lime-base: 125;
	--color-green-base: 140;
	--color-emerald-base: 165;
	--color-teal-base: 180;
	--color-cyan-base: 207;
	--color-sky-base: 225;
	--color-blue-base: 260;
	--color-violet-base: 285;
	--color-purple-base: 300;
	--color-fuchsia-base: 320;
	--color-magenta-base: 330;

	--neutral-1-values: var(--color-neutral-lightness-1) var(--color-neutral-chroma-base) var(--color-neutral-base);
	--neutral-2-values: var(--color-neutral-lightness-2) var(--color-neutral-chroma-base) var(--color-neutral-base);
	--neutral-3-values: var(--color-neutral-lightness-3) var(--color-neutral-chroma-base) var(--color-neutral-base);
	--neutral-4-values: var(--color-neutral-lightness-4) var(--color-neutral-chroma-base) var(--color-neutral-base);
	--neutral-5-values: var(--color-neutral-lightness-5) var(--color-neutral-chroma-base) var(--color-neutral-base);
	--neutral-6-values: var(--color-neutral-lightness-6) var(--color-neutral-chroma-base) var(--color-neutral-base);
	--neutral-7-values: var(--color-neutral-lightness-7) var(--color-neutral-chroma-base) var(--color-neutral-base);
	--neutral-8-values: var(--color-neutral-lightness-8) var(--color-neutral-chroma-base) var(--color-neutral-base);
	--neutral-9-values: var(--color-neutral-lightness-9) var(--color-neutral-chroma-base) var(--color-neutral-base);
	--neutral-10-values: var(--color-neutral-lightness-10) var(--color-neutral-chroma-base) var(--color-neutral-base);
	--neutral-11-values: var(--color-neutral-lightness-11) var(--color-neutral-chroma-base) var(--color-neutral-base);
	--neutral-12-values: var(--color-neutral-lightness-12) var(--color-neutral-chroma-base) var(--color-neutral-base);
	--neutral-13-values: var(--color-neutral-lightness-13) var(--color-neutral-chroma-base) var(--color-neutral-base);
	--neutral-1: oklch(var(--neutral-1-values));
	--neutral-2: oklch(var(--neutral-2-values));
	--neutral-3: oklch(var(--neutral-3-values));
	--neutral-4: oklch(var(--neutral-4-values));
	--neutral-5: oklch(var(--neutral-5-values));
	--neutral-6: oklch(var(--neutral-6-values));
	--neutral-7: oklch(var(--neutral-7-values));
	--neutral-8: oklch(var(--neutral-8-values));
	--neutral-9: oklch(var(--neutral-9-values));
	--neutral-10: oklch(var(--neutral-10-values));
	--neutral-11: oklch(var(--neutral-11-values));
	--neutral-12: oklch(var(--neutral-12-values));
	--neutral-13: oklch(var(--neutral-13-values));

	--stone-1: oklch(var(--color-lightness-1) var(--color-gray-chroma-base) var(--color-stone-base));
	--stone-2: oklch(var(--color-lightness-2) var(--color-gray-chroma-base) var(--color-stone-base));
	--stone-3: oklch(var(--color-lightness-3) var(--color-gray-chroma-base) var(--color-stone-base));
	--stone-4: oklch(var(--color-lightness-4) var(--color-gray-chroma-base) var(--color-stone-base));
	--stone-5: oklch(var(--color-lightness-5) var(--color-gray-chroma-base) var(--color-stone-base));
	--stone-6: oklch(var(--color-lightness-6) var(--color-gray-chroma-base) var(--color-stone-base));
	--stone-7: oklch(var(--color-lightness-7) var(--color-gray-chroma-base) var(--color-stone-base));
	--stone-8: oklch(var(--color-lightness-8) var(--color-gray-chroma-base) var(--color-stone-base));
	--stone-9: oklch(var(--color-lightness-9) var(--color-gray-chroma-base) var(--color-stone-base));
	--stone-10: oklch(var(--color-lightness-10) var(--color-gray-chroma-base) var(--color-stone-base));
	--stone-11: oklch(var(--color-lightness-11) var(--color-gray-chroma-base) var(--color-stone-base));
	--stone-12: oklch(var(--color-lightness-12) var(--color-gray-chroma-base) var(--color-stone-base));


	--slate-1: oklch(var(--color-lightness-1) var(--color-gray-chroma-base) var(--color-slate-base));
	--slate-2: oklch(var(--color-lightness-2) var(--color-gray-chroma-base) var(--color-slate-base));
	--slate-3: oklch(var(--color-lightness-3) var(--color-gray-chroma-base) var(--color-slate-base));
	--slate-4: oklch(var(--color-lightness-4) var(--color-gray-chroma-base) var(--color-slate-base));
	--slate-5: oklch(var(--color-lightness-5) var(--color-gray-chroma-base) var(--color-slate-base));
	--slate-6: oklch(var(--color-lightness-6) var(--color-gray-chroma-base) var(--color-slate-base));
	--slate-7: oklch(var(--color-lightness-7) var(--color-gray-chroma-base) var(--color-slate-base));
	--slate-8: oklch(var(--color-lightness-8) var(--color-gray-chroma-base) var(--color-slate-base));
	--slate-9: oklch(var(--color-lightness-9) var(--color-gray-chroma-base) var(--color-slate-base));
	--slate-10: oklch(var(--color-lightness-10) var(--color-gray-chroma-base) var(--color-slate-base));
	--slate-11: oklch(var(--color-lightness-11) var(--color-gray-chroma-base) var(--color-slate-base));
	--slate-12: oklch(var(--color-lightness-12) var(--color-gray-chroma-base) var(--color-slate-base));

	--pink-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-pink-base));
	--pink-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-pink-base));
	--pink-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-pink-base));
	--pink-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-pink-base));
	--pink-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-pink-base));
	--pink-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-pink-base));
	--pink-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-pink-base));
	--pink-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-pink-base));
	--pink-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-pink-base));
	--pink-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-pink-base));
	--pink-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-pink-base));
	--pink-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-pink-base));

	--red-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-red-base));
	--red-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-red-base));
	--red-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-red-base));
	--red-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-red-base));
	--red-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-red-base));
	--red-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-red-base));
	--red-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-red-base));
	--red-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-red-base));
	--red-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-red-base));
	--red-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-red-base));
	--red-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-red-base));
	--red-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-red-base));

	--orange-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-orange-base));
	--orange-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-orange-base));
	--orange-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-orange-base));
	--orange-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-orange-base));
	--orange-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-orange-base));
	--orange-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-orange-base));
	--orange-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-orange-base));
	--orange-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-orange-base));
	--orange-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-orange-base));
	--orange-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-orange-base));
	--orange-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-orange-base));
	--orange-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-orange-base));

	--amber-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-amber-base));
	--amber-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-amber-base));
	--amber-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-amber-base));
	--amber-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-amber-base));
	--amber-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-amber-base));
	--amber-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-amber-base));
	--amber-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-amber-base));
	--amber-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-amber-base));
	--amber-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-amber-base));
	--amber-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-amber-base));
	--amber-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-amber-base));
	--amber-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-amber-base));

	--gold-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-gold-base));
	--gold-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-gold-base));
	--gold-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-gold-base));
	--gold-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-gold-base));
	--gold-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-gold-base));
	--gold-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-gold-base));
	--gold-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-gold-base));
	--gold-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-gold-base));
	--gold-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-gold-base));
	--gold-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-gold-base));
	--gold-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-gold-base));
	--gold-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-gold-base));

	--yellow-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-yellow-base));
	--yellow-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-yellow-base));
	--yellow-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-yellow-base));
	--yellow-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-yellow-base));
	--yellow-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-yellow-base));
	--yellow-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-yellow-base));
	--yellow-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-yellow-base));
	--yellow-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-yellow-base));
	--yellow-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-yellow-base));
	--yellow-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-yellow-base));
	--yellow-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-yellow-base));
	--yellow-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-yellow-base));

	--lime-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-lime-base));
	--lime-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-lime-base));
	--lime-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-lime-base));
	--lime-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-lime-base));
	--lime-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-lime-base));
	--lime-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-lime-base));
	--lime-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-lime-base));
	--lime-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-lime-base));
	--lime-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-lime-base));
	--lime-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-lime-base));
	--lime-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-lime-base));
	--lime-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-lime-base));

	--green-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-green-base));
	--green-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-green-base));
	--green-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-green-base));
	--green-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-green-base));
	--green-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-green-base));
	--green-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-green-base));
	--green-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-green-base));
	--green-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-green-base));
	--green-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-green-base));
	--green-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-green-base));
	--green-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-green-base));
	--green-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-green-base));

	--emerald-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-emerald-base));
	--emerald-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-emerald-base));
	--emerald-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-emerald-base));
	--emerald-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-emerald-base));
	--emerald-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-emerald-base));
	--emerald-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-emerald-base));
	--emerald-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-emerald-base));
	--emerald-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-emerald-base));
	--emerald-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-emerald-base));
	--emerald-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-emerald-base));
	--emerald-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-emerald-base));
	--emerald-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-emerald-base));

	--teal-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-teal-base));
	--teal-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-teal-base));
	--teal-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-teal-base));
	--teal-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-teal-base));
	--teal-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-teal-base));
	--teal-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-teal-base));
	--teal-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-teal-base));
	--teal-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-teal-base));
	--teal-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-teal-base));
	--teal-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-teal-base));
	--teal-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-teal-base));
	--teal-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-teal-base));

	--cyan-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-cyan-base));
	--cyan-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-cyan-base));
	--cyan-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-cyan-base));
	--cyan-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-cyan-base));
	--cyan-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-cyan-base));
	--cyan-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-cyan-base));
	--cyan-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-cyan-base));
	--cyan-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-cyan-base));
	--cyan-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-cyan-base));
	--cyan-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-cyan-base));
	--cyan-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-cyan-base));
	--cyan-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-cyan-base));

	--sky-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-sky-base));
	--sky-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-sky-base));
	--sky-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-sky-base));
	--sky-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-sky-base));
	--sky-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-sky-base));
	--sky-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-sky-base));
	--sky-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-sky-base));
	--sky-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-sky-base));
	--sky-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-sky-base));
	--sky-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-sky-base));
	--sky-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-sky-base));
	--sky-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-sky-base));

	--blue-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-blue-base));
	--blue-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-blue-base));
	--blue-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-blue-base));
	--blue-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-blue-base));
	--blue-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-blue-base));
	--blue-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-blue-base));
	--blue-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-blue-base));
	--blue-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-blue-base));
	--blue-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-blue-base));
	--blue-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-blue-base));
	--blue-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-blue-base));
	--blue-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-blue-base));

	--violet-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-violet-base));
	--violet-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-violet-base));
	--violet-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-violet-base));
	--violet-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-violet-base));
	--violet-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-violet-base));
	--violet-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-violet-base));
	--violet-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-violet-base));
	--violet-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-violet-base));
	--violet-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-violet-base));
	--violet-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-violet-base));
	--violet-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-violet-base));
	--violet-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-violet-base));

	--purple-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-purple-base));
	--purple-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-purple-base));
	--purple-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-purple-base));
	--purple-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-purple-base));
	--purple-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-purple-base));
	--purple-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-purple-base));
	--purple-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-purple-base));
	--purple-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-purple-base));
	--purple-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-purple-base));
	--purple-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-purple-base));
	--purple-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-purple-base));
	--purple-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-purple-base));

	--fuchsia-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-fuchsia-base));
	--fuchsia-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-fuchsia-base));
	--fuchsia-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-fuchsia-base));
	--fuchsia-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-fuchsia-base));
	--fuchsia-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-fuchsia-base));
	--fuchsia-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-fuchsia-base));
	--fuchsia-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-fuchsia-base));
	--fuchsia-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-fuchsia-base));
	--fuchsia-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-fuchsia-base));
	--fuchsia-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-fuchsia-base));
	--fuchsia-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-fuchsia-base));
	--fuchsia-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-fuchsia-base));

	--magenta-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-magenta-base));
	--magenta-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-magenta-base));
	--magenta-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-magenta-base));
	--magenta-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-magenta-base));
	--magenta-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-magenta-base));
	--magenta-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-magenta-base));
	--magenta-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-magenta-base));
	--magenta-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-magenta-base));
	--magenta-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-magenta-base));
	--magenta-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-magenta-base));
	--magenta-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-magenta-base));
	--magenta-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-magenta-base));

	--rose-1: oklch(var(--color-lightness-1) var(--color-chroma-1) var(--color-rose-base));
	--rose-2: oklch(var(--color-lightness-2) var(--color-chroma-2) var(--color-rose-base));
	--rose-3: oklch(var(--color-lightness-3) var(--color-chroma-3) var(--color-rose-base));
	--rose-4: oklch(var(--color-lightness-4) var(--color-chroma-4) var(--color-rose-base));
	--rose-5: oklch(var(--color-lightness-5) var(--color-chroma-5) var(--color-rose-base));
	--rose-6: oklch(var(--color-lightness-6) var(--color-chroma-6) var(--color-rose-base));
	--rose-7: oklch(var(--color-lightness-7) var(--color-chroma-7) var(--color-rose-base));
	--rose-8: oklch(var(--color-lightness-8) var(--color-chroma-8) var(--color-rose-base));
	--rose-9: oklch(var(--color-lightness-9) var(--color-chroma-9) var(--color-rose-base));
	--rose-10: oklch(var(--color-lightness-10) var(--color-chroma-10) var(--color-rose-base));
	--rose-11: oklch(var(--color-lightness-11) var(--color-chroma-11) var(--color-rose-base));
	--rose-12: oklch(var(--color-lightness-12) var(--color-chroma-12) var(--color-rose-base));

  @media (prefers-color-scheme: dark) {
    --color-neutral-lightness-inc: + 6.5%;
    --color-neutral-lightness-1: 7%;
  }
}
